@{
    ViewData["Title"] = "Home Page";
}
@model BirthdayCalculator.Models.BirthDateModel
<div class="text-center">
    <h1>Bereken</h1>

    <form asp-action="BirthdayForm" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name">Jouw naam:</label>
            <input class="form-control"  asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="BirthDate">Jouw Verjaardag:</label>
            <input class="form-control" asp-for="BirthDate" />
        </div>
        <button class="btn btn-primary" type="submit">Submit RSVP</button>
    </form>
</div>
